{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "babel",
    "import"
  ],
  "env": {
    "browser": true
  },
  "globals" : {
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    // Conflicts with the global names above
    "no-underscore-dangle": "off",
    // [kabbi] I think this is safe enough to disable this rule
    "no-param-reassign": ["error", { "props": false }],
    // Developer often knows better
    "quote-props": "off",
    // Doesnt seem to work as of now
    "import/no-unresolved": "off"
  }
}
